@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #030303;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.pink-on-dark {
  --color-white: #fd14fe;
}

* {
  text-transform: inherit;
}

::placeholder {
  text-transform: inherit;
}

@media (max-width: 767px) {
  img {
    object-position: center center !important;
  }
}
