@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #030303;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

* {
  text-transform: inherit;
}

::placeholder {
  text-transform: inherit;
}
